<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/flickity.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Биотэр</title>
</head>

<body>

    <div class="site-container">

        <div class="small-header">
            <div class="container">
                <div class="small-header__row row">
                    <div class="col-auto">
                        <span class="small-header__text">г. Краснодар&nbsp;</span>
                        <span class="small-header__text small-header__text_translucent">
                            ул. им. Александра Покрышкина, д. 25/А
                        </span>
                    </div>
                    <div class="col-auto">
                        <span class="small-header__text small-header__text_translucent">
                            Пн.–Чт.: 8:00–17:00, Пт.: 8:00–16:00
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="use">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title">Применение в пищевых производствах</div>
                    </div>
                </div>
                <div class="use__content row">
                    <div class="use__category col-lg-6">
                        <div class="subtitle">Глюкозно-фруктозные сиропы</div>
                        <div class="use__description">
                            Используются как для полной, так и для частичной замены патоки, сахара, инверта,
                            искусственного меда.<br>
                            Это более доступная и естественная замена привычным консервантам.
                        </div>
                        <div class="use__list">
                            <div class="use__item">
                                <div class="use__icon">
                                    <img src="images/use/juice.svg" alt="">
                                </div>
                                <div class="use__caption">
                                    Соки, безалкогольные напитки (газированные напитки, сладкие воды, квас и пр.). <br>Коктейли (безалкогольные, алкогольные).<br>Алкогольные напитки (пиво и пр.). <br>Соусы, кетчупы
                                </div>
                            </div>
                            <div class="use__item">
                                <div class="use__icon">
                                    <img src="images/use/bread.svg" alt="">
                                </div>
                                <div class="use__caption">
                                    Хлеб, булочки, пирожные, повидло, джемы, консервированные компоты, консервированные овощи и фрукты
                                </div>
                            </div>
                            <div class="use__item">
                                <div class="use__icon">
                                    <img src="images/use/candy.svg" alt="">
                                </div>
                                <div class="use__caption">
                                    Глазурь, помада, конфеты, зефир, жевательные резнки, пастила, мармелад, маршмеллоу
                                </div>
                            </div>
                            <div class="use__item">
                                <div class="use__icon">
                                    <img src="images/use/ice-cream.svg" alt="">
                                </div>
                                <div class="use__caption">
                                    Молочные десерты, йогурты, мороженое
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="use__category col-lg-6">
                        <div class="subtitle">Силикагелевые стабилизаторы</div>
                        <div class="use__description">
                            Для предотвращения коллоидного помутнения пива (вина) на этапе фильтрации применяют порошковый
                            селикогель, который изберательно адсорбирует белковые соединения, что приводит к устранению
                            причины помутнения пива.
                        </div>
                        <div class="use__list">
                            <div class="use__item">
                                <div class="use__icon">
                                    <img src="images/use/vine.svg" alt="">
                                </div>
                                <div class="use__caption">
                                    Для виноделия
                                </div>
                            </div>
                            <div class="use__item">
                                <div class="use__icon">
                                    <img src="images/use/beer.svg" alt="">
                                </div>
                                <div class="use__caption">
                                    Для пивоварения
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="categories">
            <div class="categories__item">
                <div class="category container">
                    <div class="row align-items-start align-items-lg-center">
                        <div class="col-md-6 order-1 order-md-0">
                            <h2 class="title">ГФС-42, ГФС-55</h2>
                            <div class="category__subtitle subtitle">Глюкозно-фруктозный сироп</div>
                            <div class="category__description">
                                Сахара природного происхождения, полученные из пшеницы. Сиропы однородны и прозрачны,
                                нейтральны в аромате с интенсивно сладким вкусом без посторонних примесей.
                            </div>
                            <div class="category__links">
                                <a href="#" class="category__link">Презентация глюкозно-фруктозных сиропов</a>
                                <a href="#" class="category__link">Сертификация ГФС-42, ГФС-55</a>
                            </div>
                        </div>
                        <div class="col-md-6 order-0 order-md-1">
                            <img src="images/categories/syrup-img.png" class="category__image" alt="">
                        </div>
                    </div>
                    <div class="category__advantages">
                        <div class="subtitle">Преимущества использования ГФС-45, ГФС-55</div>
                        <div class="category__tabs list-group" role="tablist">
                            <a class="category__tab active" data-toggle="list" href="#syrup-cost-price" role="tab" aria-controls="syrup-cost-price">
                                Для себестоимости
                            </a>
                            <a class="category__tab" data-toggle="list" href="#syrup-production" role="tab" aria-controls="syrup-production">
                                Для производства
                            </a>
                            <a class="category__tab" data-toggle="list" href="#syrup-products" role="tab" aria-controls="syrup-products">
                                Для производства
                            </a>
                        </div>
                        <div class="category__tabs-content tab-content">
                            <div class="tab-pane fade show active" id="syrup-cost-price" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/time.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Сокращение времени производственных процессов и энергопотребления, затрат, связанных с использованием ГФС по сравнению с использованием сахара</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/pump.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Быстро и легко перекачивается и складируется</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/economy.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Более экономичен в сравнении с сахаром при производстве хлебобулочных изделий, алкоголя т.к. дрожжи и комплексы легче сбраживают моносахариды, чем сахарозу. 96% сахаров — ГФС</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/spoon.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Производство ГФС не ограничивается периодом сбора урожая</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/sugar.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Используется как для полной, так и для частичной замены сахара, патоки, инверта, искусственного меда в сахаросодержащих продуктах</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="syrup-production" role="tabpanel">...</div>
                            <div class="tab-pane fade" id="syrup-products" role="tabpanel">...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="categories__item">
                <div class="category container">
                    <div class="row align-items-start align-items-lg-center">
                        <div class="col-md-6 order-1 order-md-0">
                            <h2 class="title">Силикагелевые стабилизаторы</h2>
                            <div class="category__description">
                                Технологическое вспомогательное средство, участвующее в технологическом процессе,
                                Пищевая добавка Е 551, Стабилизаторы созданы таким образом, что физико-химические
                                параметры обеспечивают максимальную эффективность при стабилизации и избирательной
                                адсорбции из пива (вина) белков, вызывающих «холодное» помутнение, а также сохраняют
                                необходимое пенообразование.
                            </div>
                            <div class="category__links">
                                <a href="#" class="category__link">Презентация силикагелевых стабилизаторов</a>
                                <a href="#" class="category__link">Сертификат безопасности</a>
                            </div>
                        </div>
                        <div class="col-md-6 order-0 order-md-1">
                            <img src="images/categories/silicagel-img.png" class="category__image" alt="">
                        </div>
                    </div>
                    <div class="category__advantages">
                        <div class="subtitle">Применение силикогелевых стабилизаторов</div>
                        <div class="category__tabs list-group" role="tablist">
                            <a class="category__tab active" data-toggle="list" href="#silicagel-brewing" role="tab" aria-controls="silicagel-brewing">
                                Для пивоварения
                            </a>
                            <a class="category__tab" data-toggle="list" href="#silicagel-winemaking" role="tab" aria-controls="silicagel-winemaking">
                                Для виноделия
                            </a>
                        </div>
                        <div class="category__tabs-content tab-content">
                            <div class="tab-pane fade show active" id="silicagel-brewing" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/time.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Сокращение времени производственных процессов и энергопотребления, затрат, связанных с использованием ГФС по сравнению с использованием сахара</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/pump.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Быстро и легко перекачивается и складируется</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/economy.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Более экономичен в сравнении с сахаром при производстве хлебобулочных изделий, алкоголя т.к. дрожжи и комплексы легче сбраживают моносахариды, чем сахарозу. 96% сахаров — ГФС</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/spoon.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Производство ГФС не ограничивается периодом сбора урожая</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="advantage">
                                            <img src="images/categories/sugar.jpg" class="advantage__image" alt="">
                                            <div class="advantage__caption">Используется как для полной, так и для частичной замены сахара, патоки, инверта, искусственного меда в сахаросодержащих продуктах</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="silicagel-winemaking" role="tabpanel">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="about__content">
                <div class="container">
                    <img src="images/about/logo.png" class="about__logo" alt="">
                    <div class="about__description">
                        Компания «Биотэр» является официальным представителем по технологической поддержке,
                        продвижению и внедрению.
                    </div>
                    <div class="about__benefits row">
                        <div class="about__benefit col-lg-4 col-md-6">
                            <img src="images/about/team.svg" alt="" class="about__benefit-icon">
                            <div class="about__benefit-text">
                                Опыт, профессионализм и ответственность сотрудников
                            </div>
                        </div>
                        <div class="about__benefit col-lg-4 col-md-6">
                            <img src="images/about/support.svg" alt="" class="about__benefit-icon">
                            <div class="about__benefit-text">
                                Технологическая поддержка в ведении технологического процесса
                            </div>
                        </div>
                        <div class="about__benefit col-lg-4 col-md-6">
                            <img src="images/about/price.svg" alt="" class="about__benefit-icon">
                            <div class="about__benefit-text">
                                Умеренные и адекватные цены
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="logistics">
            <div class="container">
                <h2 class="title">Собственная логистика</h2>
                <div class="logistics__benefits row">
                    <div class="logistics__benefit col-lg-4 col-md-6">
                        <div class="logistics__benefit-icon">
                            <img src="images/logistics/clock.svg" alt="">
                        </div>
                        <div class="logistics__benefit-text">
                            Своевременная доставка прямо на производство
                        </div>
                    </div>
                    <div class="logistics__benefit col-lg-4 col-md-6">
                        <div class="logistics__benefit-icon">
                            <img src="images/logistics/pin.svg" alt="">
                        </div>
                        <div class="logistics__benefit-text">
                            Транспортировка в любой регион и в любых объемах
                        </div>
                    </div>
                    <div class="logistics__benefit col-lg-4 col-md-6">
                        <div class="logistics__benefit-icon">
                            <img src="images/logistics/help.svg" alt="">
                        </div>
                        <div class="logistics__benefit-text">
                            Помощь в отгрузке и советы по хранению
                        </div>
                    </div>
                </div>
                <div class="logistics__slider">
                    <div class="logistics__equipment" style="background-image: url('images/logistics/semitrailer.jpg')">
                        <div class="logistics__equipment-name">Полуприцеп-цистерна</div>
                    </div>
                    <div class="logistics__equipment" style="background-image: url('images/logistics/pump.png')">
                        <div class="logistics__equipment-name">Насос для сиропов</div>
                    </div>
                    <div class="logistics__equipment" style="background-image: url('images/logistics/barrels.jpg')">
                        <div class="logistics__equipment-name">Пластиковые бочки</div>
                    </div>
                    <div class="logistics__equipment" style="background-image: url('images/logistics/barrels.jpg')">
                        <div class="logistics__equipment-name">Еще бочки</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="questions">
            <div class="container">
                <div class="row">
                    <div class="questions__headers col-lg-4">
                        <div class="questions__subtitle">Остались вопросы?</div>
                        <div class="questions__title">Мы поможем внедрить любую продукцию на вашем производстве</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="questions__form form" id="question-form">
                            <div class="form__title">
                                Заполните форму и наш технолог проконсультирует по любым вопросам
                            </div>
                            <div class="form__fields">
                                <div class="form__field-wrapper form__field-wrapper_name">
                                    <input type="text" class="form__field" placeholder="Имя" v-model="name">
                                </div>
                                <div class="form__field-wrapper form__field-wrapper_phone">
                                    <the-mask v-model="phone" mask="+7 (###) ###-##-##" :masked="true" class="form__field" placeholder="Телефон"></the-mask>
                                </div>
                                <div class="form__field-wrapper form__field-wrapper_company">
                                    <input type="text" class="form__field" placeholder="Организация" v-model="company">
                                </div>
                            </div>
                            <button class="button form__submit" :class="{ 'button_disabled' : !formIsValid }" v-on:click="submitForm()">
                                Отправить заявку
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modal-success">
            <img src="images/modal/icon-ok.svg" class="modal__icon" alt="">
            <div class="modal__title">Спасибо,<br>ваша заявка принята.</div>
            <div class="modal__subtitle">В ближайшее время мы свяжется с вами.</div>
        </div>

        <div class="modal" id="modal-error">
            <img src="images/modal/icon-ok.svg" class="modal__icon" alt="">
            <div class="modal__title">Ой-ой,<br>какая досада!</div>
            <div class="modal__subtitle">Форма не отправлена, потому что разработчик еще не написал бэкэнд</div>
        </div>

        <div class="modal" id="modal-form">
            <div class="form form_embed">
                <div class="form__title">
                    Заполните форму и наш технолог проконсультирует по любым вопросам
                </div>
                <div class="form__fields">
                    <div class="form__field-wrapper form__field-wrapper_name">
                        <input type="text" class="form__field" placeholder="Имя" v-model="name">
                    </div>
                    <div class="form__field-wrapper form__field-wrapper_phone">
                        <input class="form__field" placeholder="Телефон">
                    </div>
                </div>
                <button class="button form__submit">
                    Отправить заявку
                </button>
            </div>
        </div>



    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flickity.pkgd.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue-the-mask.min.js"></script>
    <script src="js/script.js"></script>

</body>

</html>