<div class="modal" id="modal-success">
    <img src="images/modal/icon-ok.svg" class="modal__icon" alt="">
    <div class="modal__title">Спасибо,<br>ваша заявка принята.</div>
    <div class="modal__subtitle">В ближайшее время мы свяжемся с вами.</div>
</div>

<div class="modal" id="modal-error">
    <img src="images/modal/icon-error.svg" class="modal__icon" alt="">
    <div class="modal__title">Ошибка</div>
    <div class="modal__subtitle">Форма не отправлена из-за ошибки на сервере. Повторите попытку позже.</div>
</div>

<div class="modal" id="modal-captcha-error">
    <img src="images/modal/icon-error.svg" class="modal__icon" alt="">
    <div class="modal__title">Ошибка</div>
    <div class="modal__subtitle">Вы не прошли проверку reCaptcha. Повторите попытку позже.</div>
</div>

<div class="modal" id="modal-form">
    <div class="form form_embed">
        <div class="form__title">
            Заполните форму и наш технолог проконсультирует по любым вопросам
        </div>
        <div class="form__fields">
            <div class="form__field-wrapper form__field-wrapper_name">
                <input type="text" class="form__field" placeholder="Имя" v-model="name">
            </div>
            <div class="form__field-wrapper form__field-wrapper_phone">
                <the-mask v-model="phone" mask="+7 (###) ###-##-##" :masked="true" class="form__field"
                          placeholder="Телефон"></the-mask>
            </div>
        </div>
        <button class="button form__submit" :class="{ 'button_disabled' : !formIsValid }"
                v-on:click="submitForm()">
            Отправить заявку
        </button>
    </div>
</div>
