<div class="questions">
    <div class="container">
        <div class="row">
            <div class="questions__headers col-md-4 col-sm-5">
                <div class="questions__subtitle">Остались вопросы?</div>
                <div class="questions__title">Мы поможем внедрить любую продукцию на вашем производстве</div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-7">
                <div class="questions__form form" id="question-form">
                    <div class="form__title">
                        Заполните форму и наш технолог проконсультирует по любым вопросам
                    </div>
                    <div class="form__fields">
                        <div class="form__field-wrapper form__field-wrapper_name">
                            <input type="text" class="form__field" placeholder="Имя" v-model="name">
                        </div>
                        <div class="form__field-wrapper form__field-wrapper_phone">
                            <the-mask v-model="phone" mask="+7 (###) ###-##-##" :masked="true" class="form__field"
                                      placeholder="Телефон"></the-mask>
                        </div>
                        <div class="form__field-wrapper form__field-wrapper_company">
                            <input type="text" class="form__field" placeholder="Организация" v-model="company">
                        </div>
                    </div>
                    <button class="button form__submit" :class="{ 'button_disabled' : !formIsValid }"
                            v-on:click="submitForm()">
                        Отправить заявку
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>