*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
  margin: 0;
  text-align: left;
}

a, a:hover {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

.title {

  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: $blue;

  @include laptop {
    font-size: 26px;
    line-height: 30px;
  }

  @include tablet {
    font-size: 24px;
    line-height: 28px;
  }

  &::before {

    content: "";
    position: absolute;
    z-index: -1;
    background: url("../images/common/title-decor.svg") center no-repeat;
    background-size: contain;
    transform: rotate(30deg);
    width: 74px;
    height: 81px;
    left: -31px;
    top: -19px;

    @include laptop {
      width: 52px;
      height: 57px;
      left: -20px;
      top: -14px;
    }

    @include tablet {
      display: none;
    }

  }

}

.subtitle {

  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $blue;

  @include laptop {
    font-size: 20px;
    line-height: 23px;
  }

}