.hero-categories {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include desktop {
    margin-top: 35px;
  }

}

.hero-category {

  position: absolute;

  @include desktop {
    position: static;
  }

  &_first {

    top: 66px;
    right: -50px;

    @include desktop {
      margin-bottom: 15px;
    }

  }

  &_second {
    right: 200px;
    top: 320px;
  }

  &__image {

    @include desktop {
      display: none;
    }

  }

  &__card {

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -100%);
    background: $blue;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.45);
    border-radius: 60px 0 60px 60px;
    width: 264px;
    padding: 18px 22px 14px 46px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $white;

    @include desktop {
      position: relative;
      top: unset;
      left: unset;
      transform: none;
      margin-left: auto;
    }

    @include laptop {
      width: 217px;
      padding: 14px 18px 12px 38px;
      border-radius: 48px 0 48px 48px;
      font-size: 12px;
      line-height: 14px;
    }

    @include tablet {
      margin-left: unset;
    }

    @include phone {
      width: 289px;
      max-width: 100%;
      padding: 18px 46px;
      font-size: 14px;
      line-height: 16px;
    }

    &_centered {
      transform: translate(-50%, -50%);
    }

    &::before {
      content: "";
      position: absolute;
      right: 15px;
      top: 15px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $white;
      opacity: .2;
    }

  }

  &__anchor {

    margin-top: 12px;
    display: flex;
    width: max-content;
    font-weight: normal;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 0.5;

    @include laptop {
      margin-top: 9px;
    }

  }

}